/*
  Background-app #006699
  Background-tool #00517a
  Title-tab #0075a4
  Radio-button #3284ad
  Icone-tab-unselected #00b8d0
  Icone-tab-selected #ffffff
  Background-tab #e5eff4
  Text-tab #3c4144
*/
body{
    background: #e5eff4;
}
#root {
  padding-top: 56px;
  background: #e5eff4;
}
#root .content{
  width: 100%;
  padding: 10px 0 75px 0;
  background: #e5eff4;
  overflow-y: auto;
  max-width: 600px;
  margin: auto;
  min-height: -webkit-fill-available;
}
.ul-router{
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding: 15px 0px 5px 0px;
  margin: 0px;
  background: #0075a4;
  z-index: 999;
}
#root .ul-router li{
  float: left;
  width: 20%;
  list-style: none;
}
#root .ul-router li a{
  color: #00b8d0;
  text-decoration: none;
  font-size: 30px;
}
#root .ul-router li label{
  font-size: 12px;
  text-align: center;
  display: block;
  margin-bottom: 0px;
}
#root .ul-router li a:hover, #root .ul-router li a:active{
  color: #fff;
}
#root .content h2{
  margin: 0px;  
  color: #0075a4;
}
#root .content p{
  margin: 10px 0 5px 0;
  color: #3c4144;
}
#root .content .options p{
  margin-left: 20px;
}
#root .content .options{
  text-align: left;
}

/************************RADIO BUTTONS*************************/
.container {
  width: 100%;
}
.list {
  list-style: none;
  margin: 0;
  padding-left: 10px;
  width: 100%;
}
.list__item {
  width: 100%;
}
.list__item:hover > .label {
  color: #0075a4;
  width: 100%;
}
.list__item:hover > .label::before {
  border: 5px solid #0075a4;
  margin-right: 20px;
}
.radio-btn {
	opacity: 0;
  visibility: hidden;
}
.radio-btn:checked + .label {
  color: #0075a4;
}
.radio-btn:checked + .label::before {
  margin-right: 20px;
  border: 5px solid #0075a4;
  background: #0075a4;
}
.label {
  display: flex;
  width: 100%;
	align-items: center;
	color: #3c4144;
	font-size: 20px;
	text-transform: uppercase;
	cursor: pointer;
	transition: all 0.25s linear;
}
.label::before {
	display: inline-block;
	content: "";
	height: 15px;
	width: 15px;
	margin-right: 0.625rem;
	border: 5px solid #3c4144;
	border-radius: 50%;
	transition: all 0.25s linear;
}

/************************ZONING*************************/
.zoning p{
  margin: 0 !important;
  text-align: center;
}