#header{
  background: #0075a4;
  position: absolute;
  top: 0;
  max-width: 600px;
  width: 600px;
  height: 65px;
}
#header .title{
  float: left;
}
#header .title p{
  float: left;
  color: #ffffff;
  font-size: 20px;
  text-align: left;
  padding-left: 65px;
  margin-top: 20px;
}
#header .menu-bar{
  float: right;
  text-align: center;
  height: 35px;
  font-size: 25px;
  color: #ffffff;
  padding-right: 15px;
  margin-top: 15px;
}