.navbar{
  background: #0075a4 !important;
  width: 100%;
}
.navbar-brand{
  color: #fff !important;
}
.navbar-toggler{
  border-color: rgba(0, 0, 0, 0.3) !important;
}
.nav-link{
  color: #fff !important;
}